body {
    background-color: rgb(90, 176, 250);
}

.shrinking {
    transition: 0.2s;
}

.shrinking:hover {
    transform: scale(1.1, 1.1);
}

.btn-secondary {
    min-width: 200px;
    border-radius: 40px;
    background-color: #28a745;
    border-color: #28a745;
    color: white !important;
}

.btn-secondary:hover {
    background-color: rgb(32, 135, 56);
    border-color: rgb(32, 135, 56);
    color: white !important;
}

.card {
    /* display: block; */
    background-color: white;
    width: 70%;
    /* height: 400px; */
    /* padding-top: 10px; */
    padding: 10px 10px;
    margin: 3% auto;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 4px 4px 10px #484848;
}

.card footer {
    margin: 0 -10px -10px;
    padding-left: 10px;
}

.card h1 {
    text-align: center;
}

form {
    padding: 10px;
}

form label {
    display: block;
    margin-top: 5px;
}

/* Full-width input fields */
input[type=text],
input[type=date],
input[type=number],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

#submitButton {
    height: 45px;
}

.aditional-info {
    font-size: 70%;
}

input[type=checkbox] {
    margin-right: 6px;
}

#submit-button {
    margin-top: 20px;
}

.help-block.error {
    color: rgb(179, 36, 36);
}

/* .form-group.has-error:not(.no-error) {
    color: rgb(179, 36, 36);
}

.form-group.has-success:not(.no-succes) {
    color: rgb(110, 201, 54);
} */