{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" href={{ url_for('static', filename='css/files.css') }}>
{% endblock %}

{% block main %}
<section class="container text-center px-5 intro">
  <h1 class="mt-5">Lista plików</h1>
  <p>Tutaj możesz trzymać swoje ciekawe pliki.</p>
</section>

<section class="container mt-2">

  <h2>Pliki</h2>
  <ul class="list-group">
    {% for file in files %}
    <li class="list-group-item d-inline-flex align-items-center">
      <span class="flex-grow-1">{{file.fileName}}</span>
      <div class="buttons">
        <a class="btn download-button" href={{file.links.download}}><i class="fa fa-download"></i><span
            class="d-none d-sm-inline ml-1">Pobierz</span></a>
        <a class="btn delete-button" href={{file.links.delete}}><i class="fa fa-trash"></i><span
            class="d-none d-sm-inline ml-1">Usuń</span></a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <form class="my-3" action={{url_for('upload_file')}} method="POST" enctype="multipart/form-data">
    <h3>Przesłanie pliku</h3>
    <div class="input-group">
      <div class="custom-file">
        <label class="custom-file-label" for="inputGroupFile01">Wybierz plik</label>
        <input type="file" class="custom-file-input" name="file" required>
      </div>
      <div class="input-group-append">
        <button class="btn btn-outline-info" type="submit">Prześlij <i class="fas fa-cloud"></i></button>
      </div>
    </div>
  </form>

</section>
{% endblock %}

{% block js %}
<!-- bs-custom-file-input -->
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"
  crossorigin="anonymous"></script>

<script>
  $(document).ready(function () {
    bsCustomFileInput.init()
  })
</script>
{% endblock %}