{% extends "base.html" %}

{% block css_links %}
<!-- <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }}> -->
{% endblock %}

{% block main %}
<section class="container text-center px-5 intro">
  <h1 class="mt-5">Lista plików</h1>
  <p>Tutaj możesz trzymać swoje ciekawe pliki.</p>
</section>

<section class="container mt-2">
  <div class="d-none token" id="list-token">{{ list_token }}</div>

  <h2>Pliki</h2>
  <ul>
    {% for file in files %}
    <li>{{file.fileName}} <a href={{file.links.delete}}>delete</a></li>
    {% endfor %}
  </ul>
  <form action="REST/files" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="hidden" name="token" value={{ upload_token }}>
    <input type="submit">
  </form>
</section>
{% endblock %}

{% block js %}

{% endblock %}