{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }}>
{% endblock %}

{% block main %}
<div id=form-card class="card">
  <section>
    <h1>Logowanie</h1>

    <form action={{url_for('login')}} method="POST" id="form">
      {{ form.csrf_token }}

      <div class="form-group {{'has-error' if form.login.errors }}">
        <label for="firstname"><b>Login:</b></label>
        <input type="text" placeholder="Login" name="login" {{'value='+form.login.data if form.login.data}}>
        {% for error in form.login.errors %}
        <p class="help-block error">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="form-group {{'has-error' if form.password.errors }}">
        <label for="lastname"><b>Hasło:</b></label>
        <input type="password" placeholder="Hasło" name="password">
        {% for error in form.password.errors %}
        <p class="help-block error">{{ error }}</p>
        {% endfor %}
      </div>

      <button type="submit" class="btn btn-block btn-primary">Zaloguj</button>
    </form>
  </section>

  <hr class="my-3">

  <section class="text-center">
    <p class="text-muted">Nie masz jeszcze konta? Zarejestruj się już dziś.</p>
    <a href={{url_for('signup')}} class="btn btn-secondary shrinking">Utwórz konto</a>
  </section>
</div>

<div class="card text-white bg-secondary mb-3">
  <div class="card-header">Dane logowania</div>
  <div class="card-body">
    <h5 class="card-title">Przykładowe konto</h5>
    <p class="card-text">
      Do testowania aplikacji najlepiej użyć kona <b>Login:</b> jan <b>Hasło:</b> AAA
    </p>
  </div>
</div>

</div>
{% endblock %}

{% block js %}
<!-- Validate.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

<!-- My JavaScript -->
<script src={{ url_for('static', filename='js/utils.js') }}></script>
<script src={{ url_for('static', filename='js/validateExtension.js') }}></script>
<script src={{ url_for('static', filename='js/login.js') }}></script>
{% endblock %}