{% extends "base.html" %}

{% block css_links %}
<link rel="stylesheet" href={{ url_for('static', filename='css/login.css') }}>
{% endblock %}

{% block main %}
<div id=form-card class="card">
  <section>
    <h1>Logowanie</h1>

    <form action={{url_for('login')}} method="POST" id="form">
      {{ form.csrf_token }}

      <div class="form-group">
        <label for="firstname"><b>Login:</b></label>
        <input type="text" placeholder="Login" name="login">
      </div>

      <div class="form-group">
        <label for="lastname"><b>Hasło:</b></label>
        <input type="password" placeholder="Hasło" name="password">
      </div>

      <button type="submit" class="btn btn-block btn-primary">Zaloguj</button>
    </form>
  </section>

  <hr class="my-3">

  <section class="text-center">
    <p class="text-muted">Nie masz jeszcze konta? Zarejestruj się już dziś.</p>
    <a href={{url_for('signup')}} class="btn btn-secondary">Utwórz konto</a>
  </section>
</div>

</div>
{% endblock %}

{% block js %}
<!-- Validate.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>

<!-- My JavaScript -->
<script src={{ url_for('static', filename='js/utils.js') }}></script>
<script src={{ url_for('static', filename='js/validateExtension.js') }}></script>
<script src={{ url_for('static', filename='js/login.js') }}></script>
{% endblock %}